<!doctype html>
<html>
<head>
<link href="{{ css }}" rel="stylesheet">
</head>
<body>

<ul>
{%- for properties in posts %}
  <li><a href="/{{ properties.slug[0] }}">{{ properties.content[0] }}</a></li>
{%- endfor %}
</ul>

</body>
</html>